body {
    background-color: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;
}

.mini-logo {
    width: 240px;
}


.jimbotron {
    background-image: url(./assets/imgs/main_verde.png);
    height: 800px;
    background-position: 10% center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 5em;
}



.logo {
    width: 250px;
    margin-top: 300px;
    margin-bottom: 20px;

}

.form {
    /* width: 50%; */
    background-color: #8d60b7;
    padding: 10px;
    border: 0.8px solid white;
    border-radius: 10px;
}

.form-text-1 {
    font-size: medium;

}
.contenedor {
    font-size: x-small
}

.submit-btn {
    font-size: x-small;
    margin-top: 10px;
}
.titulo-catalogo {
   
    font-family: 'Paytone One', sans-serif;
    font-size: 20px;
    color: #212529;
    text-transform: uppercase;
    
    
}

@media screen and (min-width:785px) {
    .jimbotron {
        
        height: 600px;
    }
    .form {
        width: 80%;

    }
    .logo {
        width: 400px;
        margin-bottom: 40px;
        margin-top: 30px;
    }

    .submit-btn {
        font-size: small;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .form-text-2 {
        font-size: small;
    }

   
}

.contenedor img {
    width: 100%;
    margin: 2px;
}

.container-foto {
    position: relative;
    text-align: center;
    color: white;

  }
  
.texto-campaña-1 {
    border: 0.8px solid white;
    border-radius: 5px;
    
    font-size:x-small;
    background-color: #81d36c;
    position: absolute;
    top: 16px;
    left: 16px;
}
.texto-campaña-2 {
    border: 0.8px solid white;
    border-radius: 5px;
    margin: 10px;
    font-size:x-small;
    background-color: #fb700f;
    position: absolute;
    bottom: 16px;
    right: 16px;
}
.texto-campaña-3 {
    border: 0.8px solid white;
    border-radius: 5px;
    margin: 10px;
    font-size:x-small;
    background-color: #da6ba8;
    position: absolute;
    top: 16px;
    left: 16px;
}

.texto-campaña-4 {
    border: 0.8px solid white;
    border-radius: 5px;
    margin: 10px;
    font-size:x-small;
    background-color: #b68ed6;
    position: absolute;
    top: 16px;
    right: 16px;
}
.texto-campaña-5 {
    border: 0.8px solid white;
    border-radius: 5px;
    margin: 10px;
    font-size:x-small;
    background-color: #fb700f;
    position: absolute;
    bottom: 16px;
    right: 16px;
}

.texto-campaña-6 {
    border: 0.8px solid white;
    border-radius: 5px;
    margin-right: 10px;
    font-size:x-small;
    background-color:  #81d36c;
    position: absolute;
    bottom: 16px;
    right: 16px;

}
.texto-campaña-7 {
    border: 0.8px solid white;
    border-radius: 5px;
    margin-right: 10px;
    font-size:x-small;
    background-color:  #b68ed6;
    position: absolute;
    bottom: 16px;
    right: 16px;
}
.texto-campaña-8 {
    border: 0.8px solid white;
    border-radius: 5px;
    margin: 10px;
    font-size:x-small;
    background-color: #da6ba8;
    position: absolute;
    top: 16px;
    left: 16px;
}
.texto-campaña-9{
    border: 0.8px solid white;
    border-radius: 5px;
    margin: 10px;
    font-size:x-small;
    background-color: #fb700f;
    position: absolute;
    bottom: 16px;
    left: 16px;
}
.campaña-titulo{
    font-size: small;
    
}


@media screen and (min-width:992px) {

    .contenedor img {
        width: 100%;
        
    }

}



.cajita {
    
    height: 100px;
    
   
}

.cajita p {
    
    font-size:small;
    color: #212529;  
}

.rrss{
background-color: #212529;
    height: 120px;
   
}

.rrss p {
    font-size: x-small;
    font-weight: lighter;
}

.titulo-footer {
    font-size: small;
}